.Car {
    border-radius: 25px;
    border: 2px solid rgb(22, 22, 105);
    width: calc(100% - 40px); /* 40px = border-radius + margin */
    height: auto;
    padding: 4px;
    position: relative;
    margin: 15px;
}

.Car-header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.Car-picture {
    border-radius: 25px;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo-mini {
    text-align: center;
    border-radius: 25px;
    max-width: 150px;
    max-height: 150px;
}
.Car-link {
    text-align: center;
}

.Car-price {
    text-align: center;
}

.Car-button {
    border-radius: 25px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.confirm-booking {
    border-radius: 25px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.car-data {
    margin-top: 60px;
    text-align: center;
    
}
